@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html,body{
 font-family: 'Rubik', sans-serif;   
 background: linear-gradient(to left top, #0d0e10, #131416, #17191c, #1c1e21, #202327);;
 color: white;
 line-height: 1.7;
 overflow-x: hidden;

}
.legaltext{
    color:  rgba(255,255,255,0.6);
    font-size: 10px;
    margin-top: 10px;
    
}


#link3{
    color: white;
    
}
ul{
    list-style-type: none;
}
#img1{
    height: 21px;
    margin-top: 32px;
    margin-left: 33px;


}
.header{
    height: 690px;
    background: url(img/headerimg.jpg)
    no-repeat center center/cover;
    
}
.header::after{
    content: '';
    top: 0%;
    left: 0%;
    width: 100%;
    height: 180px;
    z-index: 1;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.76) 15.54%,
        rgba(0, 0, 0, 0.192) 60.23%,
        rgba(0, 0, 0, 8e-5) 100%
      );;


}
.header .logo{
    height: 125px;
    width: 534px;
    margin: 20px;
     
}
.header nav{
    display: flex;
    justify-content: end;
    
    padding: 20px 40px;
}
.header .login-btn{
    border: none;
    color:  var(--global-nav-text-color);;
    background: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: .6px;
    line-height: 1;
    font-size: 14px;

}
.login-btn:hover{
    background: #2c2f33 ;
    height: 40px;
    width: 90px;
    border-radius: 5px;
}
.header .header-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 80px;




}
.top{
    color: #00ED82;
    font-size: 12px
}
.header .header-text1{
    font-weight: bold;
    font-size: 22px;
    align-items: center;

}
.header .btn-btn-cta{
    border:none;
    border-radius: 5px;
    width: 539px;
    height: 45px;
    background: #00ED82;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    letter-spacing:  1px;
    cursor: pointer;
    margin: 20px;
}
.btn-btn-cta:hover{
    opacity: .6;
}
.legaltext{
    font-size: 10px;
    color:  rgba(255,255,255,0.6);
}
.text-xl{
    font-size: 45px;
    font-weight: bold;
}
.sub-text{
    max-width: 850px;
    margin-bottom: 10px;
    font-size: 18px;
}
.categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 90px 40px;


}
.categories .covers{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 40px;
    gap: 20px;
    


}
.categories .covers > div{
    height: 500px;
    width: 300px;
    position: relative;

}
.categories .cover-grad{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      156.82deg,
      rgba(0, 0, 0, 0.6) 4.58%,
      rgba(0, 0, 0, 0) 69.61%
    ),
    linear-gradient(24.5deg, rgba(0, 0, 0)
    71.49%);

}
.cover-text{
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: left;

}
.cover1{
    background: url('img/cover1.jpg') no-repeat center center/cover;

}
.cover2{
    background: url('img/cover2.jpg')no-repeat center center/cover;
    
}
.cover3{
    background: url('img/cover3.jpg')no-repeat center center/cover;
    
}
.cover4{
    background: url('img/cover4.jpg')no-repeat center center/cover;
    
}
.legaltext a{
    color:rgba(255,255,255,0.6) ;

}
.live{
    padding: 40px;
   

}
.live-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;


}
.categories h4{
    color: #00ED82;
}
.live-text h4{
    color: #00ED82;
}
.live-sports{
    background: url(img/livesports.jpg) no-repeat center center / cover;
    height: 800px;
    width: 100%;
    position: relative;

}
.livesports-content{
    position: absolute;
    top: 160px;
    left: 100px;
    max-width: 550px;

}
.livesports-logo{
    width: 300px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.livesports-logo > div{
    background: url(img/whiteroundbg.png) no-repeat center center / cover;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.livesports-logo img{
    width: 40px;
    
}
.selplan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.plan-table{
    width: 60%;
    height: 465px;
    
}
.popular-btn{
    color: black;
    background:#00ED82 ;
    border-radius: 29px;
    font: weight 300px; 
    letter-spacing: 1px;
    width: 159px;
    height: 31px;
    font-size: 9px;
}
.price-button{
   background: white; 
   width: 194px;
    height: 45px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}
.price-button:hover{
    opacity: .8;
}
.table-head{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}
.table-head .colleft{
    margin-top: 10px;
}

.col1{
    width: 80%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    text-align: left;
    
 
}
.colleft{
    width: 48%;
   margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    text-align: center;
    
}

.table-row{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-bottom: 1px solid ;
    
}
.r-col1{
    width: 80%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    text-align: left;
    
 

}
.r-colleft{
    width: 48%;
   margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    text-align: center;
   
    
}
.para{
    margin: 10px;
}
.selplan .para a{
    text-decoration: none;
    color: white;
}





.table-head .col1 img{
    width: 194px;


}
.tabledivider{
    width: 60%;
    height: 3px;
    border-top: 2px #ccc solid;
    margin: 20px 0;

}


.footer{
    background:#ebedf2;
    color:rgb(251, 251, 251);

}
.footer-list a{
    text-decoration: none;
    color: #333;


}
.footer-container{
    max-width: 1100px;
    margin: auto;
    padding: 40px;
}
.footer-list{
    display: flex;
    justify-content: space-between;
    font-size: 14px;

}
.list-head{
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 600;
    color: #202327;

}
.divider{
    width: 100%;
    height: 3px;
    border-top: 1px #ccc solid;
    margin: 30px 0;
}
.social-media{
    display: flex;
    justify-content: space-between;
    width: 175px;
    height: 25px;
    margin-right: 25px;
}
.below-footer{
    width: 100%;
    display: flex;
   flex-direction: row;
    justify-content: space-between;
    height: 300px;
    margin: auto; 
    font-size: 10px;
    
}
.footer-listitems{
    width: 100%;
  display: flex; 
  justify-content: space-between; 

}

.below-footer a{
    text-decoration: none;
    color:#333 ;
}
    





}
    

